*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #3D331D;
	font-family: Roboto, sans-serif;
	min-height: 100vh;
}

.library{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1200px;
	margin: 20px auto;
}
/*The "new book" button*/
.newBook{
	padding: 10px 22px;
	font-size: 16px;
	font-weight: 700;
	border-radius: 10px;
	background: #fff;
	color: #3D331D;;
}

.books{
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 280px);
	grid-auto-rows: 380px;
	padding: 20px;
	width:100%;
	gap:20px;
}

.bookCard{
	background: #EBB342;
	border-radius: 10px;
	padding: 20px;

	display: flex;
	flex-direction: column;
}
/*book's name*/
.bookCard div:first-child{
	font-weight: 700;
	font-style: italic;
	line-height: 1.2;
	margin-bottom: 8px;
}

/*book's description*/
.bookCard div:nth-child(2){
	color: #181818;
	font-size: 0.9rem;
	margin-bottom: 12px;
	line-height: 1.4;
	overflow: auto;
}

/*book's author name*/
.bookCard div:nth-child(3){
	font-weight: 700;
	font-size: 16px;
	text-decoration: underline;
	margin-bottom: auto;
}

/*read status*/
.bookCard .readStatus{
	background-color: rgb(255, 255, 255, 0.3);
	border-radius: 5px;
	padding: 4px 8px;
    border-radius: 4px;
    align-self: flex-start;
  	text-transform: uppercase;
  	font-size: 14px;
  	letter-spacing: 1px;
  	margin-bottom: 12px;

}

.bookCard .readStatusBtn,
.bookCard .deleteBookBtn {
	padding: 8px 12px;
	border-radius: 5px;
}

.bookCard .readStatusBtn {
	margin-bottom: 10px;
}

.bookCard .readStatusBtn {
	background-color: #7C6027;
}

.bookCard .deleteBookBtn {
	background-color: #9F4832;
}


button {
	border: none;
	font-weight: 700;
	cursor: pointer;
	color: #fff;

}